/dts-v1/;
/plugin/;
/ {
   compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

   fragment@0 {
      target-path = "/";
      __overlay__ {
	 keypad: RAINPSPKBD {
	    compatible = "gpio-matrix-keypad";
	    debounce-delay-ms = <10>;
	    col-scan-delay-us = <10>;

        row-gpios = <&gpio 12 0>;
        col-gpios = <&gpio 20 0>;

	    // Keycodes from https://github.com/torvalds/linux/blob/master/include/uapi/linux/input-event-codes.h 

	    linux,keymap = <
			    // col0 row0 KEY_1
                0x000000002>;

	 };
      };
   };
};
